<select name="family_names">
  <option value="stark" > ['Stark', 'stark']</option>
  <option value="lanny"> ['Lannister', 'lannister']</option>
  <option value="dragons"> ['Targaryen', 'targaryen'] </option>
  <option value="killers"> ['Tyrell', 'tyrell'] </option>
  <option value="Sea"> ['Greyjoy', 'greyjoy']</option>
</select>

<%= button_to "Get Members", search_path, method: :get %>
